/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 33px;
  height: 26px;
  margin: 53px 0 0 191px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: linear-gradient(90deg, #c0b7e8 0%, #8176af 109.21%);
  border-radius: 40px;
}

// to override styles

#outer-container
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > span
  > span:nth-child(1) {
  height: 15% !important;
}
#outer-container
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > span
  > span:nth-child(2) {
  height: 15% !important;
  left: 30% !important;
}
#outer-container
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > span
  > span:nth-child(3) {
  height: 15% !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #c0b7e8;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #302c42;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 10px;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: rgb(214, 212, 178);
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
