.main__form-subject, .main__form-phone, .main__form-email, .main__form-last-name, .main__form-first-name {
  width: 300px;
  height: 53px;
  margin: 0 0 22px 21px;
  padding-left: 29px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-size: 14px;
  background: transparent;
  color: #ffffff;
}
.main__form-subject:hover, .main__form-phone:hover, .main__form-email:hover, .main__form-last-name:hover, .main__form-first-name:hover {
  background: radial-gradient(50% 50% at 50% 50%, #564f77 0%, #211e2e 100%);
}
.main__form-subject::placeholder, .main__form-phone::placeholder, .main__form-email::placeholder, .main__form-last-name::placeholder, .main__form-first-name::placeholder {
  color: #ffffff;
}
@media (min-width: 769px) {
  .main__form-subject, .main__form-phone, .main__form-email, .main__form-last-name, .main__form-first-name {
    width: 450px;
    height: 60px;
    padding-left: 30px;
  }
}
@media (min-width: 1024px) {
  .main__form-subject, .main__form-phone, .main__form-email, .main__form-last-name, .main__form-first-name {
    width: 400px;
    height: 65px;
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .main__form-subject, .main__form-phone, .main__form-email, .main__form-last-name, .main__form-first-name {
    width: 524px;
    height: 72px;
    padding-left: 42px;
  }
}

.main__form-submit, .main__why-desktop-card-btn, .main__introduction-btn-style {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border: transparent;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  color: #343045;
  cursor: pointer;
}
.main__form-submit:hover, .main__why-desktop-card-btn:hover, .main__introduction-btn-style:hover {
  background: linear-gradient(90deg, #c0b7e8 0%, #8176af 100%);
  color: #fff;
}

.main__how-title p, .main__how-title h2, .main__why-title p, .main__why-title h2, .main__introduction-title p, .main__introduction-title h2 {
  font-size: 26px;
  color: #ffffff;
}

.main__how-desk-card-solutions4, .main__how-desk-card-solutions3, .main__how-desk-card-solutions2, .main__how-desk-card-solutions1 {
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.main__how-desk-card-solutions4::before, .main__how-desk-card-solutions3::before, .main__how-desk-card-solutions2::before, .main__how-desk-card-solutions1::before {
  content: url(../../assets/desktop/shape.webp);
  position: absolute;
  left: -45px;
}

@media (min-width: 769px) {
  .main__introduction {
    margin: 70px 0 0 40px;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .main__introduction {
    display: grid;
    grid-template: "title textDesk" 117px "img titleDesk" 153px "img text" 245px "img btn" 100px/1fr;
    margin: 70px 0 0 40px;
  }
}
@media (min-width: 1440px) {
  .main__introduction {
    grid-template: "title textDesk" 100px "img titleDesk" 245px "img text" 270px "img btn" 141px/1fr;
    margin: 90px 0 0 84px;
  }
}
@media (min-width: 1024px) {
  .main__introduction-title {
    grid-area: title;
  }
}
.main__introduction-title h2 {
  width: 216px;
  margin: 59px 0 0 87px;
}
@media (min-width: 769px) {
  .main__introduction-title h2 {
    width: 298px;
    margin: 0 auto;
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .main__introduction-title h2 {
    margin: 4px 0 0 0;
  }
}
.main__introduction-title p {
  width: 182px;
  margin: 16px 0 0 104px;
  font-weight: 300;
}
@media (min-width: 769px) {
  .main__introduction-title p {
    width: 251px;
    margin: 10px auto;
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .main__introduction-title p {
    position: relative;
    margin: 10px 0 0 0;
  }
  .main__introduction-title p::after {
    content: url(../../assets/desktop/Component-1.webp);
    width: 228px;
    height: 100px;
    position: absolute;
    top: -28px;
    left: 282px;
    content: url(../../assets/desktop/arrow-small-right.webp);
  }
}
@media (min-width: 1440px) {
  .main__introduction-title p::after {
    content: url(../../assets/desktop/Component-1.webp);
    width: 228px;
    height: 100px;
    position: absolute;
    top: -28px;
    left: 282px;
  }
}
@media (min-width: 769px) {
  .main__introduction-text-desk {
    width: 570px;
    margin-left: 40px;
    color: white;
  }
}
@media (min-width: 1024px) {
  .main__introduction-text-desk {
    grid-area: textDesk;
    width: 499px;
    margin-left: 30px;
  }
}
@media (min-width: 1440px) {
  .main__introduction-text-desk {
    width: 653px;
    margin-left: 86px;
  }
}
@media (min-width: 769px) {
  .main__introduction-title-desk {
    margin-top: 50px;
    text-align: center;
  }
  .main__introduction-title-desk h2 {
    color: white;
    font-size: 36px;
  }
  .main__introduction-title-desk p {
    color: rgba(255, 255, 255, 0.95);
    font-size: 36px;
    font-weight: 300;
  }
}
@media (min-width: 1024px) {
  .main__introduction-title-desk {
    grid-area: titleDesk;
    margin: 70px 0 0 40px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .main__introduction-title-desk {
    margin: 147px 0 0 107px;
  }
}
.main__introduction-vector6 {
  display: none;
}
@media (min-width: 1024px) {
  .main__introduction-vector6 {
    display: block;
    position: absolute;
    width: 868px;
    height: 154px;
    left: 90px;
    top: 199px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .main__introduction-vector6 {
    width: 1449px;
    height: 256px;
    left: -120px;
    top: 225px;
  }
}
.main__introduction-vector7 {
  display: none;
}
@media (min-width: 1024px) {
  .main__introduction-vector7 {
    display: block;
    position: absolute;
    width: 945px;
    height: 152px;
    left: 13px;
    top: 468px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .main__introduction-vector7 {
    width: 1445px;
    height: 211px;
    left: -115px;
    top: 502px;
  }
}
.main__introduction-img {
  width: 336.79px;
  height: 358px;
  margin: 36px 0 0 23px;
}
@media (min-width: 769px) {
  .main__introduction-img {
    width: 424px;
    height: 457px;
    margin: 50px 0 0 120px;
  }
}
@media (min-width: 1024px) {
  .main__introduction-img {
    grid-area: img;
    margin: 50px 0 0 0;
  }
}
@media (min-width: 1440px) {
  .main__introduction-img {
    width: 524px;
    height: 557px;
    margin: 100px 0 0 0;
  }
}
.main__introduction-text {
  width: 352px;
  margin: 51px 0 0 23px;
  font-size: 12px;
  color: #ffffff;
}
@media (min-width: 769px) {
  .main__introduction-text {
    width: 570px;
    margin: 30px 0 0 40px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .main__introduction-text {
    grid-area: text;
    width: 470px;
  }
}
@media (min-width: 1440px) {
  .main__introduction-text {
    width: 630px;
    margin: 42px 0 0 108px;
  }
}
@media (min-width: 769px) {
  .main__introduction-btn {
    margin: 50px 0 0 210px;
  }
}
@media (min-width: 1024px) {
  .main__introduction-btn {
    grid-area: btn;
    margin: 28px 0 0 108px;
  }
}
.main__introduction-btn-style {
  width: 276px;
  height: 56px;
  margin: 34px 0 0 60px;
}
@media (min-width: 769px) {
  .main__introduction-btn-style {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .main__introduction-btn-style {
    margin: 0;
    width: 214px;
    height: 48px;
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .main__why-title {
    display: inline-block;
  }
}
.main__why-title h2 {
  width: 162px;
  margin: 60px 0 0 113px;
}
@media (min-width: 769px) {
  .main__why-title h2 {
    width: 225px;
    margin: 70px auto 0 auto;
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .main__why-title h2 {
    margin: 111px 0 0 40px;
  }
}
@media (min-width: 1440px) {
  .main__why-title h2 {
    margin-left: 84px;
  }
}
.main__why-title p {
  width: 187px;
  margin: 16px 0 0 101px;
  font-weight: 300;
}
@media (min-width: 769px) {
  .main__why-title p {
    width: 259px;
    margin: 15px auto 0 auto;
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .main__why-title p {
    position: relative;
    margin: 15px 0 0 40px;
  }
  .main__why-title p::after {
    content: url(../../assets/desktop/Component-1.webp);
    width: 228px;
    height: 100px;
    position: absolute;
    top: -28px;
    left: 270px;
    content: url(../../assets/desktop/arrow-small-right.webp);
  }
}
@media (min-width: 1440px) {
  .main__why-title p {
    margin-left: 84px;
  }
  .main__why-title p::after {
    content: url(../../assets/desktop/Component-1.webp);
    width: 228px;
    height: 100px;
    position: absolute;
    top: -28px;
    left: 270px;
  }
}
.main__why-swiper {
  width: 320px;
  height: 511px;
  margin: 26px 0 0 36px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
  border-radius: 40px;
}
@media (min-width: 769px) {
  .main__why-text {
    width: 546px;
    margin: 50px 0 0 80px;
    color: white;
  }
}
@media (min-width: 1024px) {
  .main__why-text {
    display: inline-block;
    width: 525px;
    margin: 111px 0 0 150px;
  }
}
@media (min-width: 1440px) {
  .main__why-text {
    width: 652px;
    margin: 111px 0 0 361px;
  }
}
@media (min-width: 769px) {
  .main__why-desktop {
    margin-top: 50px;
  }
}
@media (min-width: 1024px) {
  .main__why-desktop {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 0 40px;
  }
}
@media (min-width: 1440px) {
  .main__why-desktop {
    flex-wrap: nowrap;
    margin: 102px 0 0 84px;
  }
}
@media (min-width: 769px) {
  .main__why-desktop-card {
    width: 310px;
    height: 511px;
    margin: 30px auto;
    border-radius: 40px;
    background: radial-gradient(50% 50% at 50% 50%, #433d60, #211e2e 100%);
  }
}
@media (min-width: 1024px) {
  .main__why-desktop-card {
    margin: 0 0 30px 110px;
  }
}
@media (min-width: 1440px) {
  .main__why-desktop-card {
    margin: 0 0 0 10px;
  }
}
@media (min-width: 769px) {
  .main__why-desktop-card-img {
    margin: 23px 0 0 46px;
  }
}
@media (min-width: 769px) {
  .main__why-desktop-card-title {
    width: 160px;
    margin: 21px auto 17.5px auto;
    color: white;
    font-size: 24px;
  }
}
@media (min-width: 769px) {
  .main__why-desktop-card-border {
    width: 154px;
    height: 0;
    margin: 0 auto 21.5px auto;
    border: 1px solid rgba(192, 183, 232, 0.33);
  }
}
@media (min-width: 769px) {
  .main__why-desktop-card-text {
    width: 250px;
    margin: 0 0 35px 25px;
    color: white;
    font-size: 12px;
  }
}
@media (min-width: 769px) {
  .main__why-desktop-card-btn {
    width: 154px;
    height: 48px;
    margin-left: 78px;
  }
}
.main__technologies {
  position: relative;
}
.main__technologies-img {
  position: absolute;
  width: 348px;
  height: 163.35px;
  left: 17px;
  top: -53px;
  z-index: -10;
}
@media (min-width: 769px) {
  .main__technologies-img {
    left: 29px;
    top: -65px;
  }
  .main__technologies-img img {
    width: 700px;
    height: 215px;
  }
}
@media (min-width: 1024px) {
  .main__technologies-img {
    left: 40px;
    top: -92px;
  }
  .main__technologies-img img {
    width: 935px;
    height: 255px;
  }
}
@media (min-width: 1440px) {
  .main__technologies-img {
    left: 84px;
    top: -109px;
  }
  .main__technologies-img img {
    width: 1286px;
    height: 311px;
  }
}
.main__technologies-title {
  width: 257px;
  margin: 107px 0 0 69px;
  font-size: 16px;
  color: #ffffff;
}
@media (min-width: 769px) {
  .main__technologies-title {
    width: 578px;
    margin: 120px auto 0 auto;
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .main__technologies-title {
    margin-top: 150px;
  }
}
@media (min-width: 1440px) {
  .main__technologies-title {
    margin: 222px 0 0 427px;
  }
}
.main__technologies-text {
  margin: 14px 0 0 72px;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}
@media (min-width: 769px) {
  .main__technologies-text {
    width: 371px;
    margin: 11px auto 0 auto;
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .main__technologies-text {
    margin: 11px 0 0 522px;
  }
}
.main__technologies-swiper {
  margin-top: 40px;
}
.main__technologies-desk {
  position: relative;
}
.main__technologies-desk-vector {
  display: none;
}
@media (min-width: 1024px) {
  .main__technologies-desk-vector {
    display: block;
    position: absolute;
    width: 935px;
    height: 551px;
    left: 50px;
    top: -491px;
    z-index: -11;
  }
}
@media (min-width: 1440px) {
  .main__technologies-desk-vector {
    width: 1442px;
    height: 814px;
    left: -30px;
    top: -673px;
  }
}
.main__technologies-desk-arrow {
  width: 75px;
  height: 75px;
  margin: 10px 0 0 335px;
}
@media (min-width: 1024px) {
  .main__technologies-desk-arrow {
    margin: 22px 0 0 482px;
  }
}
@media (min-width: 1440px) {
  .main__technologies-desk-arrow {
    width: 100px;
    height: 100px;
    margin: 46px 0 0 670px;
  }
}
@media (min-width: 769px) {
  .main__technologies-desk-unreal {
    margin-left: 95px;
  }
}
@media (min-width: 1024px) {
  .main__technologies-desk-unreal {
    margin-left: 180px;
  }
}
@media (min-width: 1440px) {
  .main__technologies-desk-unreal {
    margin-left: 153px;
  }
}
@media (min-width: 769px) {
  .main__technologies-desk-unity {
    margin-left: 116px;
  }
}
@media (min-width: 1024px) {
  .main__technologies-desk-unity {
    margin-left: 230px;
  }
}
@media (min-width: 1440px) {
  .main__technologies-desk-unity {
    margin-left: 91px;
  }
}
@media (min-width: 769px) {
  .main__technologies-desk-oculus {
    margin-left: 42px;
  }
}
@media (min-width: 1024px) {
  .main__technologies-desk-oculus {
    margin-left: 130px;
  }
}
@media (min-width: 1440px) {
  .main__technologies-desk-oculus {
    margin-left: 71px;
  }
}
@media (min-width: 769px) {
  .main__technologies-desk-vive {
    margin-left: 95px;
  }
}
@media (min-width: 1024px) {
  .main__technologies-desk-vive {
    margin-left: 195px;
  }
}
@media (min-width: 1440px) {
  .main__technologies-desk-vive {
    margin-left: 56px;
  }
}
@media (min-width: 769px) {
  .main__how {
    margin: 30px 0 0 80px;
  }
}
@media (min-width: 1024px) {
  .main__how {
    position: relative;
    margin: 30px 0 0 40px;
  }
}
@media (min-width: 1440px) {
  .main__how {
    position: relative;
    margin: 69px 0 0 87px;
  }
}
@media (min-width: 1024px) {
  .main__how-title {
    display: inline-block;
  }
}
@media (min-width: 1440px) {
  .main__how-title {
    display: inline-block;
  }
}
.main__how-title h2 {
  width: 221px;
  margin: -10px 0 0 83px;
}
@media (min-width: 769px) {
  .main__how-title h2 {
    width: 306px;
    margin: 0 auto;
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .main__how-title h2 {
    margin: 0;
  }
}
.main__how-title p {
  width: 232px;
  margin: 16px 0 0 77px;
  font-weight: 300;
}
@media (min-width: 769px) {
  .main__how-title p {
    width: 321px;
    margin: 15px auto 0 auto;
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .main__how-title p {
    position: relative;
    margin: 15px 0 0 0;
  }
  .main__how-title p::after {
    content: url(../../assets/desktop/Component-1.webp);
    width: 228px;
    height: 100px;
    position: absolute;
    top: -28px;
    left: 340px;
    content: url(../../assets/desktop/arrow-small-right.webp);
  }
}
@media (min-width: 1440px) {
  .main__how-title p::after {
    content: url(../../assets/desktop/Component-1.webp);
    width: 228px;
    height: 100px;
    position: absolute;
    top: -28px;
    left: 340px;
  }
}
.main__how-desk-text {
  width: 565px;
  margin-top: 20px;
  color: white;
}
@media (min-width: 1024px) {
  .main__how-desk-text {
    display: inline-block;
    width: 470px;
    margin: 0 0 0 125px;
  }
}
@media (min-width: 1440px) {
  .main__how-desk-text {
    width: 652px;
    margin: 0 0 0 299px;
  }
}
.main__how-desk-vector {
  display: none;
}
@media (min-width: 1440px) {
  .main__how-desk-vector {
    display: block;
    position: absolute;
    width: 1410px;
    height: 141px;
    top: 225px;
    left: -88px;
    z-index: -1;
  }
}
.main__how-desk-card {
  display: inline-block;
}
.main__how-desk-card-circle1 {
  width: 150px;
  height: 150px;
  margin: 60px 0 0 50px;
}
@media (min-width: 1024px) {
  .main__how-desk-card-circle1 {
    margin: 80px 0 0 150px;
  }
}
@media (min-width: 1440px) {
  .main__how-desk-card-circle1 {
    width: 198px;
    height: 198px;
    margin: 119px 0 0 54px;
  }
}
.main__how-desk-card-circle2 {
  width: 150px;
  height: 150px;
  margin-left: 90px;
}
@media (min-width: 1024px) {
  .main__how-desk-card-circle2 {
    margin-left: 260px;
  }
}
@media (min-width: 1440px) {
  .main__how-desk-card-circle2 {
    width: 198px;
    height: 198px;
    margin-left: 115px;
  }
}
.main__how-desk-card-circle3 {
  width: 150px;
  height: 150px;
  margin: 60px 0 0 50px;
}
@media (min-width: 1024px) {
  .main__how-desk-card-circle3 {
    margin-left: 150px;
  }
}
@media (min-width: 1440px) {
  .main__how-desk-card-circle3 {
    width: 198px;
    height: 198px;
    margin-left: 129px;
  }
}
.main__how-desk-card-circle4 {
  width: 150px;
  height: 150px;
  margin-left: 115px;
}
@media (min-width: 1024px) {
  .main__how-desk-card-circle4 {
    margin-left: 295px;
  }
}
@media (min-width: 1440px) {
  .main__how-desk-card-circle4 {
    width: 198px;
    height: 198px;
    margin-left: 123px;
  }
}
.main__how-desk-card-solutions1 {
  margin: 25px 0 0 70px;
}
@media (min-width: 1024px) {
  .main__how-desk-card-solutions1 {
    margin-left: 145px;
  }
}
@media (min-width: 1440px) {
  .main__how-desk-card-solutions1 {
    margin-left: 74px;
  }
}
.main__how-desk-card-solutions2 {
  margin: 25px 0 0 127px;
}
@media (min-width: 1024px) {
  .main__how-desk-card-solutions2 {
    margin-left: 280px;
  }
}
@media (min-width: 1440px) {
  .main__how-desk-card-solutions2 {
    margin-left: 152px;
  }
}
.main__how-desk-card-solutions3 {
  margin: 25px 0 0 75px;
}
@media (min-width: 1024px) {
  .main__how-desk-card-solutions3 {
    margin-left: 145px;
  }
}
@media (min-width: 1440px) {
  .main__how-desk-card-solutions3 {
    margin-left: 184px;
  }
}
.main__how-desk-card-solutions4 {
  margin: 25px 0 0 155px;
}
@media (min-width: 1024px) {
  .main__how-desk-card-solutions4 {
    margin-left: 310px;
  }
}
@media (min-width: 1440px) {
  .main__how-desk-card-solutions4 {
    margin-left: 170px;
  }
}
.main__form {
  width: 343px;
  height: 973px;
  display: flex;
  flex-direction: column;
  margin: 81px 0 0 27px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
@media (min-width: 769px) {
  .main__form {
    width: 600px;
    height: 1050px;
    margin: 90px 0 0 80px;
  }
}
@media (min-width: 1024px) {
  .main__form {
    width: 900px;
    height: 920px;
    display: inline-block;
    margin-left: 40px;
  }
}
@media (min-width: 1440px) {
  .main__form {
    width: 1275px;
    height: 1008px;
  }
}
.main__form-title {
  width: 159px;
  margin: 45px 0 0 92px;
  color: #ffffff;
}
@media (min-width: 769px) {
  .main__form-title {
    width: 200px;
    margin: 40px auto 0 auto;
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .main__form-title {
    width: 238px;
    margin-top: 60px;
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .main__form-title {
    margin: 90px 0 0 514px;
  }
}
.main__form-border {
  width: 116.5px;
  height: 2px;
  margin: 21px 0 0 111px;
  background: linear-gradient(44.81deg, #343045 49.69%, #343045 49.69%, #c0b7e8 68.37%, #8176af 86.48%, #343045 103.21%);
}
@media (min-width: 769px) {
  .main__form-border {
    width: 350px;
    height: 1px;
    margin: 20px auto 0 auto;
  }
}
@media (min-width: 1024px) {
  .main__form-border {
    width: 414px;
    height: 2px;
  }
}
@media (min-width: 1440px) {
  .main__form-border {
    margin: 30px 0 0 429px;
  }
}
.main__form-text {
  width: 232px;
  margin: 19px 0 0 56px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 769px) {
  .main__form-text {
    width: 455px;
    margin: 21px auto 0 auto;
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .main__form-text {
    width: 543px;
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .main__form-text {
    margin: 21px 0 0 363px;
  }
}
.main__form-first-name {
  margin-top: 36px;
}
@media (min-width: 769px) {
  .main__form-first-name {
    margin: 40px auto 0 auto;
  }
}
@media (min-width: 1024px) {
  .main__form-first-name {
    margin: 40px 0 0 30px;
  }
}
@media (min-width: 1440px) {
  .main__form-first-name {
    margin: 65px 0 0 107px;
  }
}
@media (min-width: 769px) {
  .main__form-last-name {
    margin: 30px auto;
  }
}
@media (min-width: 1024px) {
  .main__form-last-name {
    margin: 0 0 0 40px;
  }
}
@media (min-width: 1440px) {
  .main__form-last-name {
    margin: 0 0 0 10px;
  }
}
@media (min-width: 769px) {
  .main__form-email {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .main__form-email {
    margin: 40px 0 0 30px;
  }
}
@media (min-width: 1440px) {
  .main__form-email {
    margin: 39px 0 0 108px;
  }
}
@media (min-width: 769px) {
  .main__form-phone {
    margin: 30px auto;
  }
}
@media (min-width: 1024px) {
  .main__form-phone {
    margin: 0 0 0 40px;
  }
}
@media (min-width: 1440px) {
  .main__form-phone {
    margin: 0 0 0 12px;
  }
}
@media (min-width: 769px) {
  .main__form-subject {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .main__form-subject {
    width: 845px;
    height: 65px;
    margin: 40px 0 0 30px;
  }
}
@media (min-width: 1440px) {
  .main__form-subject {
    width: 1058px;
    height: 72px;
    margin: 33px 0 0 107px;
  }
}
.main__form-tell-us-something {
  width: 300px;
  height: 219px;
  margin-left: 18px;
  padding: 18px 0 0 29px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  background: transparent;
  color: #ffffff;
  resize: none;
}
@media (min-width: 769px) {
  .main__form-tell-us-something {
    width: 450px;
    height: 220px;
    margin: 30px auto;
    padding: 25px 0 0 30px;
  }
}
@media (min-width: 1024px) {
  .main__form-tell-us-something {
    width: 845px;
    height: 210px;
    margin: 40px 0 0 30px;
    padding-top: 27px;
  }
}
@media (min-width: 1440px) {
  .main__form-tell-us-something {
    width: 1058px;
    margin: 33px 0 0 106px;
    padding-left: 42px;
  }
}
.main__form-tell-us-something:hover {
  background: radial-gradient(50% 50% at 50% 50%, #564f77 0%, #211e2e 100%);
}
.main__form-tell-us-something::placeholder {
  color: #ffffff;
}
.main__form-submit {
  width: 292px;
  height: 48px;
  margin: 52px 0 0 29px;
}
@media (min-width: 769px) {
  .main__form-submit {
    margin: 40px auto;
  }
}
@media (min-width: 1024px) {
  .main__form-submit {
    width: 214px;
    margin: 51px 0 0 343px;
    font-size: 12px;
  }
}
@media (min-width: 1440px) {
  .main__form-submit {
    margin-left: 529px;
  }
}