@import "../Mixins/_mixin";

%form-input {
  width: 300px;
  height: 53px;
  margin: 0 0 22px 21px;
  padding-left: 29px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-size: 14px;
  background: transparent;
  color: #ffffff;

  &:hover {
    background: radial-gradient(50% 50% at 50% 50%, #564f77 0%, #211e2e 100%);
  }

  &::placeholder {
    color: #ffffff;
  }

  @include desktop {
    width: 524px;
    height: 72px;
    padding-left: 42px;
  }
}

%logo-animation {
  transition: transform 0.9s ease;

  &:hover {
    transform: rotate(360deg);
  }
}

%btn {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border: transparent;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  color: #343045;
  cursor: pointer;

  &:hover {
    background: linear-gradient(90deg, #c0b7e8 0%, #8176af 100%);
    color: #fff;
  }
}

%title {
  font-size: 26px;
  color: #ffffff;
}

%main-how-solutions {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;

  &::before {
    content: url(../../assets/desktop/shape.webp);
    position: absolute;
    left: -45px;
  }
}

%footer-nav {
  & ul {
    list-style-type: none;
  }

  & a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    line-height: 38px;

    &:hover {
      color: #6950cf;
    }
  }
}
