@import "../Extends/_extend";
@import "../Mixins/_mixin";

.main {
  &__introduction {
    @include tablet {
      margin: 70px 0 0 40px;
      position: relative;
    }
    @include laptop {
      display: grid;
      grid-template:
        "title textDesk" 117px
        "img titleDesk" 153px
        "img text" 245px
        "img btn" 100px
        / 1fr;
      margin: 70px 0 0 40px;
    }
    @include desktop {
      grid-template:
        "title textDesk" 100px
        "img titleDesk" 245px
        "img text" 270px
        "img btn" 141px
        / 1fr;
      margin: 90px 0 0 84px;
    }

    &-title {
      @include laptop {
        grid-area: title;
      }

      & h2 {
        width: 216px;
        margin: 59px 0 0 87px;
        @extend %title;
        @include tablet {
          width: 298px;
          margin: 0 auto;
          font-size: 36px;
        }
        @include laptop {
          margin: 4px 0 0 0;
        }
      }

      & p {
        width: 182px;
        margin: 16px 0 0 104px;
        font-weight: 300;
        @extend %title;
        @include tablet {
          width: 251px;
          margin: 10px auto;
          font-size: 36px;
        }
        @include laptop {
          position: relative;
          margin: 10px 0 0 0;

          &::after {
            @include big-arrow(282px);
            content: url(../../assets/desktop/arrow-small-right.webp);
          }
        }
        @include desktop {
          &::after {
            @include big-arrow(282px);
          }
        }
      }
    }

    &-text-desk {
      @include tablet {
        width: 570px;
        margin-left: 40px;
        color: rgb(255, 255, 255);
      }
      @include laptop {
        grid-area: textDesk;
        width: 499px;
        margin-left: 30px;
      }
      @include desktop {
        width: 746px;
        margin-left: 86px;
      }
    }

    &-title-desk {
      @include tablet {
        margin-top: 50px;
        text-align: center;

        & h2 {
          color: rgb(255, 255, 255);
          font-size: 36px;
        }

        & p {
          color: rgba(255, 255, 255, 0.95);
          font-size: 36px;
          font-weight: 300;
        }
      }
      @include laptop {
        grid-area: titleDesk;
        margin: 70px 0 0 40px;
        text-align: left;
      }
      @include desktop {
        margin: 147px 0 0 107px;
      }
    }

    &-vector6 {
      display: none;
      @include laptop {
        display: block;
        position: absolute;
        width: 1449px;
        height: 256px;
        left: -290px;
        top: 154px;
        z-index: -1;
      }
      @include desktop {
        left: -107px;
        top: 205px;
      }
    }

    &-vector7 {
      display: none;
      @include laptop {
        display: block;
        position: absolute;
        width: 1445px;
        height: 211px;
        left: -283px;
        top: 411px;
        z-index: -1;
      }
      @include desktop {
        left: -109px;
        top: 502px;
      }
    }

    &-img {
      width: 336.79px;
      height: 358px;
      margin: 36px 0 0 23px;
      @include tablet {
        width: 424px;
        height: 457px;
        margin: 50px 0 0 120px;
      }
      @include laptop {
        grid-area: img;
        margin: 50px 0 0 0;
      }
      @include desktop {
        width: 524px;
        height: 557px;
        margin: 100px 0 0 0;
      }
    }

    &-text {
      width: 352px;
      margin: 51px 0 0 23px;
      font-size: 12px;
      color: #ffffff;
      @include tablet {
        width: 570px;
        margin: 30px 0 0 40px;
        font-size: 16px;
      }
      @include laptop {
        grid-area: text;
        width: 470px;
      }
      @include desktop {
        width: 630px;
        margin: 42px 0 0 108px;
      }
    }

    &-btn {
      @include tablet {
        margin: 50px 0 0 210px;
      }
      @include laptop {
        grid-area: btn;
        margin: 28px 0 0 108px;
      }

      &-style {
        width: 276px;
        height: 56px;
        margin: 34px 0 0 60px;
        @extend %btn;
        @include tablet {
          margin: 0;
        }
        @include laptop {
          margin: 0;
          width: 214px;
          height: 48px;
          font-size: 12px;
        }
      }
    }
  }

  &__why {
    &-title {
      @include laptop {
        display: inline-block;
      }

      & h2 {
        width: 162px;
        margin: 60px 0 0 113px;
        @extend %title;
        @include tablet {
          width: 225px;
          margin: 70px auto 0 auto;
          font-size: 36px;
        }
        @include laptop {
          margin: 111px 0 0 40px;
        }
        @include desktop {
          margin-left: 84px;
        }
      }

      & p {
        width: 187px;
        margin: 16px 0 0 101px;
        font-weight: 300;
        @extend %title;
        @include tablet {
          width: 259px;
          margin: 15px auto 0 auto;
          font-size: 36px;
        }
        @include laptop {
          position: relative;
          margin: 15px 0 0 40px;

          &::after {
            @include big-arrow(270px);
            content: url(../../assets/desktop/arrow-small-right.webp);
          }
        }
        @include desktop {
          margin-left: 84px;

          &::after {
            @include big-arrow(270px);
          }
        }
      }
    }

    &-swiper {
      width: 320px;
      height: 511px;
      margin: 26px 0 0 36px;
      background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
      border-radius: 40px;
    }

    &-text {
      @include tablet {
        width: 546px;
        margin: 50px 0 0 80px;
        color: rgb(255, 255, 255);
      }
      @include laptop {
        display: inline-block;
        width: 525px;
        margin: 111px 0 0 150px;
      }
      @include desktop {
        width: 652px;
        margin: 111px 0 0 361px;
      }
    }

    &-desktop {
      @include tablet {
        margin-top: 50px;
      }
      @include laptop {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0 0 40px;
      }
      @include desktop {
        flex-wrap: nowrap;
        margin: 102px 0 0 84px;
      }

      &-card {
        @include tablet {
          width: 310px;
          height: 511px;
          margin: 30px auto;
          border-radius: 40px;
          background: radial-gradient(
            50% 50% at 50% 50%,
            rgb(67, 61, 96),
            rgb(33, 30, 46) 100%
          );
        }
        @include laptop {
          margin: 0 0 30px 110px;
        }
        @include desktop {
          margin: 0 0 0 10px;
        }

        &-img {
          @include tablet {
            margin: 23px 0 0 46px;
          }
        }

        &-title {
          @include tablet {
            width: 160px;
            margin: 21px auto 17.5px auto;
            color: rgb(255, 255, 255);
            font-size: 24px;
          }
        }

        &-border {
          @include tablet {
            width: 154px;
            height: 0;
            margin: 0 auto 21.5px auto;
            border: 1px solid rgba(192, 183, 232, 0.33);
          }
        }

        &-text {
          @include tablet {
            width: 250px;
            margin: 0 0 35px 25px;
            color: rgb(255, 255, 255);
            font-size: 12px;
          }
        }

        &-btn {
          @extend %btn;
          @include tablet {
            width: 154px;
            height: 48px;
            margin-left: 78px;
          }
        }
      }
    }
  }

  &__technologies {
    position: relative;

    &-img {
      position: absolute;
      width: 348px;
      height: 163.35px;
      left: 17px;
      top: -53px;
      z-index: -10;
      @include tablet {
        left: 29px;
        top: -65px;

        & img {
          width: 700px;
          height: 215px;
        }
      }
      @include laptop {
        left: 40px;
        top: -92px;

        & img {
          width: 935px;
          height: 255px;
        }
      }
      @include desktop {
        left: 84px;
        top: -109px;

        & img {
          width: 1286px;
          height: 311px;
        }
      }
    }

    &-title {
      width: 257px;
      margin: 107px 0 0 69px;
      font-size: 16px;
      color: #ffffff;
      @include tablet {
        width: 578px;
        margin: 120px auto 0 auto;
        font-size: 36px;
      }
      @include laptop {
        margin-top: 150px;
      }
      @include desktop {
        margin: 222px 0 0 427px;
      }
    }

    &-text {
      margin: 14px 0 0 72px;
      font-weight: 300;
      font-size: 24px;
      color: #ffffff;
      @include tablet {
        width: 371px;
        margin: 11px auto 0 auto;
        font-size: 36px;
      }
      @include desktop {
        margin: 11px 0 0 522px;
      }
    }

    &-swiper {
      margin-top: 40px;
    }

    &-desk {
      position: relative;

      &-vector {
        display: none;
        @include laptop {
          display: block;
          position: absolute;
          width: 935px;
          height: 551px;
          left: 50px;
          top: -491px;
          z-index: -11;
        }
        @include desktop {
          width: 1442px;
          height: 814px;
          left: -3px;
          top: -673px;
        }
      }

      &-arrow {
        width: 75px;
        height: 75px;
        margin: 10px 0 0 335px;
        @include laptop {
          margin: 22px 0 0 482px;
        }
        @include desktop {
          width: 100px;
          height: 100px;
          margin: 46px 0 0 670px;
        }
      }

      &-unreal {
        @include tablet {
          margin-left: 95px;
        }
        @include laptop {
          margin-left: 180px;
        }
        @include desktop {
          margin-left: 153px;
        }
      }
      &-unity {
        @include tablet {
          margin-left: 116px;
        }
        @include laptop {
          margin-left: 230px;
        }
        @include desktop {
          margin-left: 91px;
        }
      }
      &-oculus {
        @include tablet {
          margin-left: 42px;
        }
        @include laptop {
          margin-left: 130px;
        }
        @include desktop {
          margin-left: 71px;
        }
      }
      &-vive {
        @include tablet {
          margin-left: 95px;
        }
        @include laptop {
          margin-left: 195px;
        }
        @include desktop {
          margin-left: 56px;
        }
      }
    }
  }

  &__how {
    @include tablet {
      margin: 30px 0 0 80px;
    }
    @include laptop {
      position: relative;
      margin: 30px 0 0 40px;
    }
    @include desktop {
      position: relative;
      margin: 69px 0 0 87px;
    }

    &-title {
      @include laptop {
        display: inline-block;
      }
      @include desktop {
        display: inline-block;
      }

      & h2 {
        width: 221px;
        margin: -10px 0 0 83px;
        @extend %title;
        @include tablet {
          width: 306px;
          margin: 0 auto;
          font-size: 36px;
        }
        @include laptop {
          margin: 0;
        }
      }

      & p {
        width: 232px;
        margin: 16px 0 0 77px;
        font-weight: 300;
        @extend %title;
        @include tablet {
          width: 321px;
          margin: 15px auto 0 auto;
          font-size: 36px;
        }
        @include laptop {
          position: relative;
          margin: 15px 0 0 0;

          &::after {
            @include big-arrow(340px);
            content: url(../../assets/desktop/arrow-small-right.webp);
          }
        }
        @include desktop {
          &::after {
            @include big-arrow(340px);
          }
        }
      }
    }

    &-desk {
      &-text {
        width: 565px;
        margin-top: 20px;
        color: rgb(255, 255, 255);
        @include laptop {
          display: inline-block;
          width: 470px;
          margin: 0 0 0 125px;
        }
        @include desktop {
          width: 652px;
          margin: 0 0 0 299px;
        }
      }

      &-vector {
        display: none;
        @include desktop {
          display: block;
          position: absolute;
          width: 1449px;
          height: 163px;
          top: 222px;
          left: -88px;
          z-index: -1;
        }
      }

      &-card {
        display: inline-block;

        &-circle1 {
          width: 150px;
          height: 150px;
          margin: 60px 0 0 50px;
          @include laptop {
            margin: 80px 0 0 150px;
          }
          @include desktop {
            width: 198px;
            height: 198px;
            margin: 119px 0 0 54px;
          }
        }

        &-circle2 {
          width: 150px;
          height: 150px;
          margin-left: 90px;
          @include laptop {
            margin-left: 260px;
          }
          @include desktop {
            width: 198px;
            height: 198px;
            margin-left: 115px;
          }
        }

        &-circle3 {
          width: 150px;
          height: 150px;
          margin: 60px 0 0 50px;
          @include laptop {
            margin-left: 150px;
          }
          @include desktop {
            width: 198px;
            height: 198px;
            margin-left: 129px;
          }
        }

        &-circle4 {
          width: 150px;
          height: 150px;
          margin-left: 115px;
          @include laptop {
            margin-left: 295px;
          }
          @include desktop {
            width: 198px;
            height: 198px;
            margin-left: 123px;
          }
        }

        &-solutions1 {
          @extend %main-how-solutions;
          margin: 25px 0 0 70px;
          @include laptop {
            margin-left: 145px;
          }
          @include desktop {
            margin-left: 74px;
          }
        }

        &-solutions2 {
          @extend %main-how-solutions;
          margin: 25px 0 0 127px;
          @include laptop {
            margin-left: 280px;
          }
          @include desktop {
            margin-left: 152px;
          }
        }

        &-solutions3 {
          @extend %main-how-solutions;
          margin: 25px 0 0 75px;
          @include laptop {
            margin-left: 145px;
          }
          @include desktop {
            margin-left: 184px;
          }
        }

        &-solutions4 {
          @extend %main-how-solutions;
          margin: 25px 0 0 155px;
          @include laptop {
            margin-left: 310px;
          }
          @include desktop {
            margin-left: 170px;
          }
        }
      }
    }
  }

  &__form {
    width: 343px;
    height: 973px;
    display: flex;
    flex-direction: column;
    margin: 81px 0 0 27px;
    background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    @include tablet {
      width: 600px;
      height: 1050px;
      margin: 90px 0 0 80px;
    }
    @include laptop {
      width: 900px;
      height: 920px;
      display: inline-block;
      margin-left: 40px;
    }
    @include desktop {
      width: 1275px;
      height: 1008px;
    }

    &-title {
      width: 159px;
      margin: 45px 0 0 92px;
      color: #ffffff;
      @include tablet {
        width: 200px;
        margin: 40px auto 0 auto;
        font-size: 30px;
      }
      @include laptop {
        width: 238px;
        margin-top: 60px;
        font-size: 36px;
      }
      @include desktop {
        margin: 90px 0 0 514px;
      }
    }

    &-border {
      width: 116.5px;
      height: 2px;
      margin: 21px 0 0 111px;
      background: linear-gradient(
        44.81deg,
        #343045 49.69%,
        #343045 49.69%,
        #c0b7e8 68.37%,
        #8176af 86.48%,
        #343045 103.21%
      );
      @include tablet {
        width: 350px;
        height: 1px;
        margin: 20px auto 0 auto;
      }
      @include laptop {
        width: 414px;
        height: 2px;
      }
      @include desktop {
        margin: 30px 0 0 429px;
      }
    }

    &-text {
      width: 232px;
      margin: 19px 0 0 56px;
      font-weight: 300;
      font-size: 24px;
      text-align: center;
      color: #ffffff;
      @include tablet {
        width: 455px;
        margin: 21px auto 0 auto;
        font-size: 30px;
      }
      @include laptop {
        width: 543px;
        font-size: 36px;
      }
      @include desktop {
        margin: 21px 0 0 363px;
      }
    }

    &-first-name {
      @extend %form-input;
      margin-top: 36px;
      @include tablet {
        margin: 40px auto 0 auto;
      }
      @include laptop {
        margin: 40px 0 0 30px;
      }
      @include desktop {
        margin: 65px 0 0 107px;
      }
    }

    &-last-name {
      @extend %form-input;
      @include tablet {
        margin: 30px auto;
      }
      @include laptop {
        margin: 0 0 0 40px;
      }
      @include desktop {
        margin: 0 0 0 10px;
      }
    }
    &-email {
      @extend %form-input;
      @include tablet {
        margin: 0 auto;
      }
      @include laptop {
        margin: 40px 0 0 30px;
      }
      @include desktop {
        margin: 39px 0 0 108px;
      }
    }
    &-phone {
      @extend %form-input;
      @include tablet {
        margin: 30px auto;
      }
      @include laptop {
        margin: 0 0 0 40px;
      }
      @include desktop {
        margin: 0 0 0 12px;
      }
    }
    &-subject {
      @extend %form-input;
      @include tablet {
        margin: 0 auto;
      }
      @include laptop {
        width: 845px;
        height: 65px;
        margin: 40px 0 0 30px;
      }
      @include desktop {
        width: 1058px;
        height: 72px;
        margin: 33px 0 0 107px;
      }
    }
    &-tell-us-something {
      width: 300px;
      height: 219px;
      margin-left: 18px;
      padding: 18px 0 0 29px;
      border: 2px solid #ffffff;
      border-radius: 40px;
      background: transparent;
      color: #ffffff;
      resize: none;
      @include tablet {
        width: 450px;
        height: 220px;
        margin: 30px auto;
        padding: 25px 0 0 30px;
      }
      @include laptop {
        width: 845px;
        height: 210px;
        margin: 40px 0 0 30px;
        padding-top: 27px;
      }
      @include desktop {
        width: 1058px;
        margin: 33px 0 0 106px;
        padding-left: 42px;
      }

      &:hover {
        background: radial-gradient(
          50% 50% at 50% 50%,
          #564f77 0%,
          #211e2e 100%
        );
      }

      &::placeholder {
        color: #ffffff;
      }
    }
    &-submit {
      width: 292px;
      height: 48px;
      margin: 52px 0 0 29px;
      @extend %btn;
      @include tablet {
        margin: 40px auto;
      }
      @include laptop {
        width: 214px;
        margin: 51px 0 0 343px;
        font-size: 12px;
      }
      @include desktop {
        margin-left: 529px;
      }
    }
  }
}
