.main {
  &__introduction {
    &-title {
      & h2 {
        width: 216px;
        margin: 59px 0 0 87px;
        font-size: 26px;
        color: #ffffff;
      }

      & p {
        width: 182px;
        margin: 16px 0 0 104px;
        font-weight: 300;
        font-size: 26px;
        color: #ffffff;
      }
    }

    &-img {
      width: 336.79px;
      height: 358px;
      margin: 36px 0 0 23px;
    }

    &-text {
      width: 352px;
      margin: 51px 0 0 23px;
      font-size: 12px;
      color: #ffffff;
    }

    &-btn {
      width: 276px;
      height: 56px;
      margin: 34px 0 0 60px;
      background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
      border: transparent;
      border-radius: 40px;
      font-weight: 700;
      font-size: 14px;
      color: #343045;
      cursor: pointer;

      &:hover {
        background: linear-gradient(90deg, #c0b7e8 0%, #8176af 100%);
        color: #fff;
      }
    }
  }

  &__why {
    &-title {
      & h2 {
        width: 162px;
        margin: 60px 0 0 113px;
        font-size: 26px;
        color: #ffffff;
      }

      & p {
        width: 187px;
        margin: 16px 0 0 101px;
        font-weight: 300;
        font-size: 26px;
        color: #ffffff;
      }
    }

    &-swiper {
      width: 320px;
      height: 511px;
      margin: 26px 0 0 36px;
      background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
      border-radius: 40px;
    }
  }

  &__technologies {
    &-img {
      position: absolute;
      width: 348px;
      height: 163.35px;
      left: 17px;
      top: 2394px;
      z-index: -10;
    }

    &-title {
      width: 257px;
      margin: 107px 0 0 69px;
      font-size: 16px;
      color: #ffffff;
    }

    &-text {
      margin: 14px 0 0 72px;
      font-weight: 300;
      font-size: 24px;
      color: #ffffff;
    }

    &-swiper {
      margin-top: 40px;
    }
  }

  &__how {
    &-title {
      & h2 {
        width: 221px;
        margin: -10px 0 0 83px;
        font-size: 26px;
        color: #ffffff;
      }

      & p {
        width: 232px;
        margin: 16px 0 0 77px;
        font-weight: 300;
        font-size: 26px;
        color: #ffffff;
      }
    }

    &-swiper {
      height: 500px;
    }
  }
}
