@import "../Extends/_extend";
@import "../Mixins/_mixin";

.header {
  &__top {
    display: flex;
    flex-wrap: wrap;
    @include desktop {
      flex-wrap: nowrap;
    }

    &-logo {
      display: flex;

      &-img {
        margin: 52px 0 0 23px;
        @extend %logo-animation;
        @include tablet {
          margin-left: 80px;
          width: 102px;
          height: 103px;
        }
        @include laptop {
          margin-left: 40px;
        }
        @include desktop {
          margin: 50px 0 0 84px;
        }
      }

      &-text {
        margin: 52px 0 0 8px;
        width: 46px;
        height: 28px;
        @include tablet {
          margin: 79px 20px 0 15px;
          width: 70px;
          height: 40px;
        }
        @include laptop {
          margin: 79px 15px 0 10px;
        }
        @include desktop {
          width: 76px;
          height: 46px;
          margin: 79px 0 0 15px;
        }
      }
    }

    &-nav {
      @include tablet {
        margin: 94px auto 0 auto;
      }
      @include desktop {
        margin: 94px 0 0 265px;
      }

      & ul {
        @include tablet {
          list-style-type: none;
          display: flex;
          flex-direction: row;
        }
      }

      & li {
        @include tablet {
          padding-right: 25px;
          &:last-child {
            @include tablet {
              padding-right: 0;
            }
          }
        }
        @include desktop {
          padding-right: 42px;
          &:last-child {
            @include desktop {
              padding-right: 0;
            }
          }
        }
      }

      & a {
        @include tablet {
          color: #fff;
          font-size: 10px;
          font-weight: 700;
          text-decoration: none;
        }
        @include desktop {
          font-size: 12px;
        }
        &:hover {
          color: #6950cf;
        }
      }
    }

    &-btn {
      margin: 0 auto 0 auto;
      @include desktop {
        margin: 0;
      }

      &-contact {
        @extend %form-input;
        width: 130px;
        height: 40px;
        margin: 40px 0 0 20px;
        padding: 0;
        font-size: 10px;
        cursor: pointer;
        @include laptop {
          margin-top: 79px;
        }
        @include desktop {
          width: 154px;
          height: 48px;
          margin: 79px 0 0 98px;
          font-size: 12px;
        }
      }

      &-join {
        @extend %btn;
        width: 130px;
        height: 40px;
        margin: 40px 0 0 15px;
        font-size: 10px;
        @include laptop {
          margin-top: 79px;
        }
        @include desktop {
          width: 155px;
          height: 48px;
          margin: 79px 0 0 38px;
          font-size: 12px;
        }
      }
    }
  }

  &__section {
    @include tablet {
      display: inline;
    }
    @include laptop {
      display: grid;
      grid-template-columns: 446px 1fr;
      grid-template-rows: 290px 114px;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    @include desktop {
      grid-template-columns: 538px 1fr;
      grid-template-rows: 370px 114px;
    }
  }

  &__img {
    position: relative;
    @include laptop {
      grid-area: 1 / 2 / 3 / 3;
    }

    &-img01 {
      margin: 32px 0 0 35px;
      @include tablet {
        width: 390px;
        height: 326px;
        margin: 60px 0 0 150px;
      }
      @include laptop {
        margin: 60px 0 0 70px;
      }
      @include desktop {
        width: 490px;
        height: 426px;
        margin: 112px 0 0 308px;
      }
    }

    &-img02 {
      position: absolute;
      width: 340px;
      height: 296px;
      left: 28px;
      top: 23px;
      z-index: -1;
      @include tablet {
        width: 424px;
        height: 355px;
        left: 131px;
        top: 44px;
      }
      @include laptop {
        left: 52px;
      }
      @include desktop {
        width: 524px;
        height: 455px;
        left: 287px;
        top: 94px;
      }
    }

    &-vector1 {
      position: absolute;
      width: 300px;
      height: 562px;
      left: 87px;
      top: -42px;
      z-index: -1;
      @include tablet {
        left: 230px;
      }
      @include laptop {
        left: 227px;
        top: 12px;

        & img {
          width: 242px;
          height: 493px;
        }
      }
      @include desktop {
        left: 455px;
        top: 18px;

        & img {
          width: 416px;
          height: 675px;
        }
      }
    }

    &-vector2 {
      position: absolute;
      width: 300px;
      height: 709px;
      left: 2px;
      top: -132px;
      z-index: -1;
      @include tablet {
        left: 150px;
        top: -184px;
      }
      @include laptop {
        left: 171px;
        top: -42px;

        & img {
          width: 253px;
          height: 557px;
        }
      }
      @include desktop {
        left: 429px;
        top: -144px;

        & img {
          width: 383px;
          height: 846px;
        }
      }
    }

    &-vector3 {
      position: absolute;
      left: 6px;
      top: 169px;
      z-index: -1;
      @include laptop {
        left: 59px;
        top: 118px;

        & img {
          width: 445px;
          height: 446px;
        }
      }
      @include desktop {
        left: 140px;
        top: 260px;

        & img {
          width: 736px;
          height: 423px;
        }
      }
    }

    &-vector4 {
      @include tablet {
        display: none;
      }
      @include laptop {
        display: block;
        position: absolute;
        width: 238px;
        height: 561px;
        left: -475px;
        top: 51px;
        z-index: -1;
      }
      @include desktop {
        left: -525px;
        top: 127px;
      }
    }
  }

  &__text {
    width: 303px;
    margin: 40px 0 0 46px;
    @include tablet {
      width: 405px;
      margin: 70px auto 0 auto;
    }
    @include laptop {
      grid-area: 1 / 1 / 2 / 2;
      margin: 70px 0 0 40px;
    }
    @include desktop {
      width: 456px;
      margin: 146px 0 0 84px;
    }

    &-main {
      height: 116px;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      color: #ffffff;
      @include tablet {
        font-size: 34px;
      }
      @include desktop {
        font-size: 40px;
      }
      & span {
        font-size: 36px;
        background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include tablet {
          font-size: 46px;
        }
      }
    }

    &-secondary {
      display: none;
      @include tablet {
        display: block;
        margin-top: 20px;
        color: #fff;
      }
      @include laptop {
        margin-top: 25px;
      }
      @include desktop {
        margin-top: 36px;
      }
    }
  }

  &__btn {
    margin: 36px 0 0 52px;
    @include tablet {
      margin: 50px 0 0 230px;
    }
    @include laptop {
      grid-area: 2 / 1 / 3 / 2;
      margin: 30px 0 0 40px;
    }
    @include desktop {
      margin: 66px 0 0 84px;
    }
    &-your-world {
      width: 292px;
      height: 52px;
      @extend %btn;
      @include laptop {
        position: relative;
        width: 214px;
        height: 48px;
        font-size: 12px;
        &::after {
          content: url("../../assets/desktop/arrow-small-right.webp");
          width: 100px;
          height: 100px;
          position: absolute;
          top: -25px;
          right: -110px;
        }
      }
    }
  }

  &__location {
    margin: 53px 0 0 23px;
    width: 347px;
    height: 109px;
    background: radial-gradient(
      50% 2900.76% at 50% 53.89%,
      rgba(58, 52, 86, 0.95) 0%,
      #211e2e 100%
    );
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
    border: transparent;
    cursor: pointer;
    @include tablet {
      margin: 80px auto 0 auto;
      width: 450px;
      height: 450px;
      position: relative;

      &-grid {
        cursor: auto;

        &-map {
          @include header-location(
            map,
            135px,
            url(../../assets/mobile/Location-Icon.webp),
            50px,
            35px
          );
        }

        &-phone {
          margin-top: 30px;
          @include header-location(
            phone,
            135px,
            url(../../assets/mobile/phone-call.webp),
            55px,
            45px
          );
        }

        &-mail {
          margin-top: 30px;
          @include header-location(
            mail,
            138px,
            url(../../assets/mobile/mail.webp),
            55px,
            45px
          );
        }

        &-vector1 {
          position: absolute;
          width: 2px;
          height: 311px;
          top: 0;
          left: 225px;
          transform: rotate(90deg);
        }

        &-vector2 {
          position: absolute;
          width: 2px;
          height: 311px;
          top: 137px;
          left: 225px;
          transform: rotate(90deg);
        }
      }
    }
    @include laptop {
      margin: 70px 0 0 25px;
      width: 900px;
      height: 150px;

      &-grid {
        display: grid;
        grid-template: "map phone mail" 167px / 340px 270px 360px;

        &-map {
          @include header-location(
            map,
            109px,
            url(../../assets/mobile/Location-Icon.webp),
            50px,
            35px
          );

          & a {
            padding: 42px 0 0 93px;
            font-size: 18px;

            &::after {
              top: 39px;
              left: 16px;
            }
          }

          & span {
            font-size: 12px;
          }
        }

        &-phone {
          @include header-location(
            phone,
            135px,
            url(../../assets/mobile/phone-call.webp),
            55px,
            45px
          );

          & a {
            padding: 22px 0 0 104px;
            font-size: 18px;

            &::after {
              top: 15px;
              left: 30px;
            }
          }

          & span {
            font-size: 12px;
          }
        }

        &-mail {
          @include header-location(
            mail,
            138px,
            url(../../assets/mobile/mail.webp),
            55px,
            45px
          );

          & a {
            padding: 22px 0 0 77px;
            font-size: 18px;

            &::after {
              top: 15px;
              left: 2px;
            }
          }

          & span {
            font-size: 12px;
          }
        }

        &-vector1 {
          width: 1px;
          height: 117px;
          top: 17px;
          left: 355px;
          transform: rotate(0);
        }

        &-vector2 {
          width: 1px;
          height: 117px;
          top: 17px;
          left: 594px;
          transform: rotate(0);
        }
      }
    }
    @include desktop {
      margin: 157px 0 0 84px;
      width: 1272px;
      height: 167px;

      &-grid {
        grid-template: "map phone mail" 167px / 440px 370px 460px;

        &-map {
          @include header-location(
            map,
            109px,
            url(../../assets/mobile/Location-Icon.webp),
            50px,
            35px
          );
        }

        &-phone {
          margin-top: 0;
          @include header-location(
            phone,
            135px,
            url(../../assets/mobile/phone-call.webp),
            55px,
            45px
          );
        }

        &-mail {
          margin-top: 0;
          @include header-location(
            mail,
            138px,
            url(../../assets/mobile/mail.webp),
            55px,
            45px
          );
        }

        &-vector1 {
          top: 27px;
          left: 441px;
        }

        &-vector2 {
          top: 27px;
          left: 812px;
        }
      }
    }

    &:hover {
      background: #211e2e;
    }
  }
}
