.footer__img-logo {
  transition: transform 0.9s ease;
}
.footer__img-logo:hover {
  transform: rotate(360deg);
}

.footer__btn {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border: transparent;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  color: #343045;
  cursor: pointer;
}
.footer__btn:hover {
  background: linear-gradient(90deg, #c0b7e8 0%, #8176af 100%);
  color: #fff;
}

.footer__help-nav ul, .footer__main-nav ul {
  list-style-type: none;
}
.footer__help-nav a, .footer__main-nav a {
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  line-height: 38px;
}
.footer__help-nav a:hover, .footer__main-nav a:hover {
  color: #6950cf;
}

@media (min-width: 769px) {
  .footer {
    margin: 122px 0 0 80px;
  }
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 122px 0 0 40px;
  }
}
@media (min-width: 1440px) {
  .footer {
    width: 1270px;
    margin-left: 86px;
  }
}
.footer__img {
  position: relative;
}
.footer__img-logo {
  width: 185px;
  height: 187px;
  margin: 81px 0 0 102px;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.25));
}
@media (min-width: 769px) {
  .footer__img-logo {
    margin: 0 0 0 200px;
  }
}
@media (min-width: 1024px) {
  .footer__img-logo {
    margin: 0;
  }
}
.footer__img-vector1 {
  position: absolute;
  width: 350px;
  height: 197px;
  left: 26px;
  top: -4px;
  z-index: -10;
}
@media (min-width: 769px) {
  .footer__img-vector1 {
    left: -46px;
    top: -180px;
  }
  .footer__img-vector1 img {
    width: 694px;
    height: 293px;
  }
}
@media (min-width: 1024px) {
  .footer__img-vector1 {
    left: -47px;
    top: -213px;
  }
  .footer__img-vector1 img {
    width: 971px;
    height: 288px;
  }
}
@media (min-width: 1440px) {
  .footer__img-vector1 {
    left: -110px;
    top: -310px;
  }
  .footer__img-vector1 img {
    width: 1435px;
    height: 363px;
  }
}
.footer__img-vector2 {
  position: absolute;
  width: 350px;
  height: 143px;
  left: 10px;
  top: 137px;
  z-index: -10;
}
@media (min-width: 769px) {
  .footer__img-vector2 {
    left: -74px;
    top: 38px;
  }
  .footer__img-vector2 img {
    width: 698px;
    height: 160px;
  }
}
@media (min-width: 1024px) {
  .footer__img-vector2 {
    left: -35px;
    top: 205px;
  }
  .footer__img-vector2 img {
    width: 975px;
    height: 196px;
  }
}
@media (min-width: 1440px) {
  .footer__img-vector2 {
    left: -110px;
    top: -40px;
  }
  .footer__img-vector2 img {
    width: 1437px;
    height: 264px;
  }
}
.footer__border1 {
  width: 350px;
  height: 3px;
  margin: 40px 0 40px 100px;
}
@media (min-width: 1024px) {
  .footer__border1 {
    width: 6px;
    height: 196px;
    margin: 0 0 0 100px;
  }
}
.footer__main-nav {
  margin-left: 50px;
}
.footer__main-nav ul {
  display: flex;
}
.footer__main-nav li {
  padding-right: 20px;
}
.footer__main-nav li:last-child {
  padding-right: 0;
}
.footer__main-nav a {
  font-size: 14px;
}
@media (min-width: 1024px) {
  .footer__main-nav {
    width: 134px;
    height: 191px;
    margin-left: 81px;
  }
  .footer__main-nav ul {
    display: block;
  }
  .footer__main-nav a {
    font-size: 16px;
  }
}
.footer__border2 {
  width: 350px;
  height: 3px;
  margin: 40px 0 40px 100px;
}
@media (min-width: 1024px) {
  .footer__border2 {
    width: 6px;
    height: 196px;
    margin: 0 0 0 104px;
  }
}
.footer__help-nav {
  margin-left: 120px;
}
.footer__help-nav ul {
  display: flex;
}
.footer__help-nav li {
  padding-right: 20px;
}
.footer__help-nav li:last-child {
  padding-right: 0;
}
.footer__help-nav a {
  font-size: 14px;
}
@media (min-width: 1024px) {
  .footer__help-nav {
    width: 109px;
    height: 149px;
    margin-left: 107px;
  }
  .footer__help-nav ul {
    display: block;
  }
  .footer__help-nav a {
    font-size: 16px;
  }
}
.footer__border3 {
  width: 350px;
  height: 3px;
  margin: 40px 0 40px 100px;
}
@media (min-width: 1024px) {
  .footer__border3 {
    width: 370px;
    height: 6px;
    margin: 70px 0 70px 263px;
  }
}
@media (min-width: 1440px) {
  .footer__border3 {
    width: 6px;
    height: 196px;
    margin: 0 0 0 69px;
  }
}
.footer__social-title {
  margin: 40px 0 0 85px;
  font-size: 16px;
  color: #ffffff;
}
@media (min-width: 769px) {
  .footer__social-title {
    margin: 0 0 0 175px;
  }
}
@media (min-width: 1024px) {
  .footer__social-title {
    margin: 0 0 0 335px;
  }
}
@media (min-width: 1440px) {
  .footer__social-title {
    margin: 0 0 0 71px;
  }
}
.footer__social-link {
  display: flex;
  flex-direction: row;
}
@media (min-width: 769px) {
  .footer__social-link {
    width: 350px;
    justify-content: space-between;
    margin-left: 100px;
  }
}
@media (min-width: 769px) and (min-width: 1024px) {
  .footer__social-link {
    width: 363px;
    justify-content: start;
    margin-left: 220px;
  }
}
@media (min-width: 769px) and (min-width: 1440px) {
  .footer__social-link {
    margin-left: 0;
  }
}
.footer__social-link-facebook {
  margin: 29px 0 0 49px;
}
@media (min-width: 769px) {
  .footer__social-link-facebook {
    margin: 39px 0 0 0;
  }
}
@media (min-width: 1024px) {
  .footer__social-link-facebook {
    margin-left: 71px;
  }
}
.footer__social-link-twitter {
  margin: 29px 0 0 20px;
}
@media (min-width: 769px) {
  .footer__social-link-twitter {
    margin-top: 39px;
  }
}
.footer__social-link-linkedin {
  margin: 29px 0 0 20px;
}
@media (min-width: 769px) {
  .footer__social-link-linkedin {
    margin-top: 39px;
  }
}
.footer__social-link-youtube {
  margin: 29px 0 0 20px;
}
@media (min-width: 769px) {
  .footer__social-link-youtube {
    margin-top: 39px;
  }
}
.footer__social-link-instagram {
  margin: 29px 0 0 20px;
}
@media (min-width: 769px) {
  .footer__social-link-instagram {
    margin-top: 39px;
  }
}
.footer__social-link-pinterest {
  margin: 29px 0 0 20px;
}
@media (min-width: 769px) {
  .footer__social-link-pinterest {
    margin-top: 39px;
  }
}
.footer__social-link img:hover {
  background-color: #6950cf;
  border-radius: 20px;
}
.footer__btn {
  width: 295px;
  height: 55px;
  margin: 47px 0 0 46px;
}
@media (min-width: 769px) {
  .footer__btn {
    margin: 50px 0 0 130px;
  }
}
@media (min-width: 1024px) {
  .footer__btn {
    margin: 140px 0 0 -255px;
    width: 214px;
    height: 48px;
    font-size: 12px;
  }
}
@media (min-width: 1440px) {
  .footer__btn {
    margin: 137px 0 0 -290px;
  }
}
.footer__border {
  width: 289px;
  height: 2px;
  margin: 61px 0 0 49px;
  background: linear-gradient(44.81deg, #343045 -7.67%, #c0b7e8 68.37%, #8176af 86.48%, #343045 99.31%);
}
@media (min-width: 769px) {
  .footer__border {
    width: 600px;
    margin: 60px 0 0 0;
  }
}
@media (min-width: 1024px) {
  .footer__border {
    width: 900px;
    margin: 77px 0 0 0;
  }
}
@media (min-width: 1440px) {
  .footer__border {
    width: 1269px;
  }
}
.footer__copyright {
  width: 274px;
  margin: 38px 0 89px 57px;
  font-weight: 700;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.13em;
  color: #ffffff;
}
@media (min-width: 769px) {
  .footer__copyright {
    width: 500px;
    margin: 49px 0 59px 35px;
  }
}
@media (min-width: 1024px) {
  .footer__copyright {
    width: 695px;
    margin-left: 100px;
  }
}
@media (min-width: 1440px) {
  .footer__copyright {
    margin-left: 289px;
  }
}