h1,
h2,
h3,
h4,
p,
ul,
li,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
body {
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  background: #302c42;
}
@media (min-width: 769px) {
  body {
    max-width: 768px;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 1024px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    width: 100%;
  }
}