.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-prev {
  top: 55px;
  left: 5px;
}

.swiper-button-next {
  top: 55px;
  right: 5px;
}

.swiper-slide {
  display: flex;
}

.text {
  padding-top: 38px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: rgb(202, 145, 134);
  }
}

.img {
  padding: 21px 0 0 36px;
}
