@import "../Extends/_extend";
@import "../Mixins/mixin";

.footer {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    width: 1270px;
    margin: 122px 0 0 86px;
  }

  &__img {
    position: relative;

    &-logo {
      width: 185px;
      height: 187px;
      margin: 81px 0 0 102px;
      filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.25));
      @extend %logo-animation;
      @include desktop {
        margin: 0;
      }
    }

    &-vector1 {
      position: absolute;
      width: 350px;
      height: 197px;
      left: 26px;
      top: -4px;
      z-index: -10;
      @include tablet {
        display: none;
      }
      @include desktop {
        width: 1435px;
        height: 363px;
        left: -75px;
        top: -310px;
      }
    }
    &-vector2 {
      position: absolute;
      width: 350px;
      height: 143px;
      left: 10px;
      top: 137px;
      z-index: -10;
      @include tablet {
        display: none;
      }
      @include desktop {
        width: 1437px;
        height: 264px;
        left: -91px;
        top: -45px;
      }
    }
  }

  &__border1 {
    height: 196px;
    margin-left: 100px;
  }

  &__main-nav {
    width: 134px;
    height: 191px;
    margin-left: 81px;
    @extend %footer-nav;
  }

  &__border2 {
    height: 196px;
    margin-left: 104px;
  }

  &__help-nav {
    width: 109px;
    height: 149px;
    margin-left: 107px;
    @extend %footer-nav;
  }

  &__border3 {
    height: 196px;
    margin-left: 69px;
  }

  &__social {
    &-title {
      margin: 40px 0 0 85px;
      font-size: 16px;
      color: #ffffff;
      @include desktop {
        margin: 0 0 0 71px;
      }
    }

    &-link {
      display: flex;
      flex-direction: row;

      &-facebook {
        margin: 29px 0 0 49px;
        @include desktop {
          margin: 39px 0 0 71px;
        }
      }

      &-twitter {
        margin: 29px 0 0 20px;
        @include desktop {
          margin-top: 39px;
        }
      }

      &-linkedin {
        margin: 29px 0 0 20px;
        @include desktop {
          margin-top: 39px;
        }
      }

      &-youtube {
        margin: 29px 0 0 20px;
        @include desktop {
          margin-top: 39px;
        }
      }

      &-instagram {
        margin: 29px 0 0 20px;
        @include desktop {
          margin-top: 39px;
        }
      }

      &-pinterest {
        margin: 29px 0 0 20px;
        @include desktop {
          margin-top: 39px;
        }
      }

      & img:hover {
        background-color: #6950cf;
        border-radius: 20px;
      }
    }
  }

  &__btn {
    width: 295px;
    height: 55px;
    margin: 47px 0 0 46px;
    @extend %btn;
    @include desktop {
      margin: 137px 0 0 -290px;
      width: 214px;
      height: 48px;
      font-size: 12px;
    }
  }

  &__border {
    width: 289px;
    height: 2px;
    margin: 61px 0 0 49px;
    background: linear-gradient(
      44.81deg,
      #343045 -7.67%,
      #c0b7e8 68.37%,
      #8176af 86.48%,
      #343045 99.31%
    );
    @include desktop {
      width: 1269px;
      margin: 77px 0 0 0;
    }
  }

  &__copyright {
    width: 274px;
    margin: 38px 0 89px 57px;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.13em;
    color: #ffffff;
    @include desktop {
      width: 693px;
      margin: 49px 0 59px 289px;
    }
  }
}
