@import "./components/Mixins/_mixin";

h1,
h2,
h3,
h4,
p,
ul,
li,
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
p,
ul,
li,
body {
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  max-width: 390px;
  width: 100%;
  background: #302c42;

  @include _1440 {
    max-width: 768px;
    width: 100%;
  }
}
